#bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h1 {
    color: #264D73;
    font-size: 2.5rem;
  }

.imagePlace {
    left: auto;
}

.img-responsive {
    position: relative;
    left: 0px;
}