.navbar-color {
    background-color: #1b4761; color: white;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .colors {
    color: rgb(244, 245, 245);
    background-color: rgb(23, 24, 25);
  }

  
  .ajouterBtn {
    align-self: flex-end;
}

.colors1 {
  color: rgb(244, 245, 245);
  background-color: rgb(32, 99, 149);
}
.colors2 {
  color: rgb(244, 245, 245);
  background-color: rgb(13, 77, 126);
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* Grid row 1 */


/* Grid row 2 */
main {
  overflow-y: auto;
  padding: 1rem;
}

html
{
 margin:0px;
 height:100%;
 width:100%;
 background:url("https://media.istockphoto.com/id/1135638647/photo/white-lines-and-spheres.jpg?b=1&s=170667a&w=0&k=20&c=KlFMDLyLj_V_AbGjSXaUxcuIb_7NN1s8cBRPYlfZqhw=")no-repeat center center fixed; 
 -webkit-background-size:cover;
 -o-background-size:cover;
 -moz-background-size:cover;
 background-size:cover;
}

.bg{
  margin:0px;
  height:100%;
  width:100%;
  background:url("https://media.istockphoto.com/id/1135638647/photo/white-lines-and-spheres.jpg?b=1&s=170667a&w=0&k=20&c=KlFMDLyLj_V_AbGjSXaUxcuIb_7NN1s8cBRPYlfZqhw=")no-repeat center center fixed; 
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
 }